[submodule "goblin-localnet-scripts"]
	path = goblin-localnet-scripts
	url = https://github.com/goblin-trade/goblin-localnet-scripts
[submodule "nitro-devnode"]
	path = nitro-devnode
	url = https://github.com/OffchainLabs/nitro-devnode
[submodule "nitro"]
	path = nitro
	url = https://github.com/goblin-trade/nitro.git
	branch = goblin-indexer
[submodule "ffi-test"]
	path = ffi-test
	url = https://github.com/goblin-trade/ffi-test
[submodule "goblin-indexer"]
	path = goblin-indexer
	url = https://github.com/goblin-trade/goblin-indexer
